In [ ]:
import datetime

In [ ]:
d = datetime.date(2020,1,1)   # 2020-01-01

In [ ]:
d

datetime.date(2020, 1, 1)

In [ ]:
today = datetime.date.today()
print(today)

2023-05-26

datetime.date 可以處理日期相關的操作，本身包含三個屬性：year、month 和 day，分別用逗號區隔，下方的程式會印出指定的日期。

In [ ]:
print(today.year)
print(today.month)
print(today.day)
print(today.weekday())
print(today.isoweekday())
print(today.strftime('%Y.%m.%d'))

2023
5
26
4
5
2023.05.26

In [ ]:
d1 = datetime.date(2020, 6, 24)
d2 = datetime.date(2021, 11, 24)
print(abs(d1-d2).days)

518

datetime.time 可以處理時間相關的操作，本身包含下列幾個屬性：hour、minute、second、microsecond 和 tzinfo，分別用逗號區隔，下方的程式會印出指定的時間。

In [ ]:
thisTime = datetime.time(12,0,0,1)
print(thisTime)

12:00:00.000001

In [ ]:
thisTime = datetime.time(14,0,0,1,tzinfo=datetime.timezone(datetime.timedelta(hours=8)))  #跨時區
print(thisTime)

14:00:00.000001+08:00

In [ ]:
print( thisTime.strftime('%H:%M:%S'))

14:00:00

In [ ]:
thisTime = datetime.datetime(2020,1,1,20,20,20,20)
print(thisTime)

2020-01-01 20:20:20.000020

In [ ]:
now = datetime.datetime.now(tz=datetime.timezone(datetime.timedelta(hours=8)))
print(now) 
print(now.date())
print(now.time())
print(now.tzname())
print(now.weekday())
print(now.isoweekday())
print(now.strftime('%Y/%m/%d %H:%M:%S'))

2023-05-26 12:06:44.897838+08:00
2023-05-26
12:06:44.897838
UTC+08:00
4
5
2023/05/26 12:06:44

如果要進行日期或時間的計算，可以透過 datetime.timedelta 增加或減少日期或時間，本身包含 days、seconds、microseconds、milliseconds、minutes、hours、weeks 的屬性，屬性的預設值都是 0。

In [ ]:
today = datetime.datetime.now()
yesterday = today - datetime.timedelta(days=1)  # 今天-一天
tomorrow = today + datetime.timedelta(days=1)
nextweek = today + datetime.timedelta(weeks=1)
print(today)
print(yesterday)
print(tomorrow)
print(nextweek)

2023-05-26 04:06:44.909509
2023-05-25 04:06:44.909509
2023-05-27 04:06:44.909509
2023-06-02 04:06:44.909509

# pandas 日期

In [ ]:
import pandas as pd

In [ ]:
%cd /content/drive/MyDrive

/content/drive/MyDrive

In [ ]:
df1 = pd.read_excel('/content/drive/MyDrive/0526時間序列/部門1.xlsx')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df1

  員工代號  姓名  部門代號        到職日期  年齡
0  A01  張三  D001  2003-07-02  50
1  A02  李四  D001  2004-01-01  45
2  A03  王五  D001  2004-04-30  42

In [ ]:
df1.info()  #看欄位型態 object 代表是字串

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   員工代號    3 non-null      object
 1   姓名      3 non-null      object
 2   部門代號    3 non-null      object
 3   到職日期    3 non-null      object
 4   年齡      3 non-null      int64
dtypes: int64(1), object(4)
memory usage: 248.0+ bytes

In [ ]:
df1['到職日期2'] = df1['到職日期'].apply(lambda x:x.replace('-', '/'))  #先將'-'取代成'/'放到[到職日期2]位置

In [ ]:
df1['到職日期'] = pd.to_datetime(df1['到職日期'])   #再將欄位型態轉成datetime日期

In [ ]:
df1.info()     #發現[到職日期2]仍是字串型態

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   員工代號    3 non-null      object
 1   姓名      3 non-null      object
 2   部門代號    3 non-null      object
 3   到職日期    3 non-null      datetime64[ns]
 4   年齡      3 non-null      int64
 5   到職日期2   3 non-null      object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 272.0+ bytes

In [ ]:
df1.head()

  員工代號  姓名  部門代號       到職日期  年齡       到職日期2
0  A01  張三  D001 2003-07-02  50  2003/07/02
1  A02  李四  D001 2004-01-01  45  2004/01/01
2  A03  王五  D001 2004-04-30  42  2004/04/30

In [ ]:
df1['到職日期2'] = pd.to_datetime(df1['到職日期2'], format = '%Y/%m/%d')  #再將它的型態轉成datetime格式

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   員工代號    3 non-null      object
 1   姓名      3 non-null      object
 2   部門代號    3 non-null      object
 3   到職日期    3 non-null      datetime64[ns]
 4   年齡      3 non-null      int64
 5   到職日期2   3 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 272.0+ bytes

UTC time

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/0526時間序列/data1.csv")
data.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,category_lvl1,category_lvl2
0,12710949,2019-10-16 03:23:01 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,131.64,560678325,6679f202-7fd2-49b9-b42d-36b770c7ef14,electronics,smartphone
1,21463275,2019-10-25 14:22:04 UTC,view,27000006,2053013564674802599,sport.trainer,housefit,254.83,516048955,82ca4e9e-dfda-4dcc-8ef8-d38cf5f6ead0,sport,trainer
2,6762380,2019-10-09 11:42:19 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,460.62,512863381,b704b5fc-3fcd-41ad-b249-a74912444297,electronics,smartphone
3,12325960,2019-10-15 14:41:35 UTC,view,1307350,2053013558920217191,computers.notebook,acer,489.05,541456824,3c3af379-e58c-46d1-98d3-dba766f3ad23,computers,notebook
4,491263,2019-10-01 14:35:13 UTC,view,1307179,2053013558920217191,computers.notebook,lenovo,720.71,550038326,dbd5bea4-58b9-4cb1-9b65-1d44c15419cc,computers,notebook

In [ ]:
def convert_time_to_date(utc_timestamp):        #為了從中取出date而寫的一個函數
    utc_date = datetime.datetime.strptime(utc_timestamp[0:10], '%Y-%m-%d').date()
    return utc_date

In [ ]:
# Due to the amount of data, datetime conversion takes a while....   
data['event_date'] = data['event_time'].apply(lambda s: convert_time_to_date(s))  #將資料取出來丟入函數中去形成新的欄位

In [ ]:
data.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,category_lvl1,category_lvl2,event_date
0,12710949,2019-10-16 03:23:01 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,131.64,560678325,6679f202-7fd2-49b9-b42d-36b770c7ef14,electronics,smartphone,2019-10-16
1,21463275,2019-10-25 14:22:04 UTC,view,27000006,2053013564674802599,sport.trainer,housefit,254.83,516048955,82ca4e9e-dfda-4dcc-8ef8-d38cf5f6ead0,sport,trainer,2019-10-25
2,6762380,2019-10-09 11:42:19 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,460.62,512863381,b704b5fc-3fcd-41ad-b249-a74912444297,electronics,smartphone,2019-10-09
3,12325960,2019-10-15 14:41:35 UTC,view,1307350,2053013558920217191,computers.notebook,acer,489.05,541456824,3c3af379-e58c-46d1-98d3-dba766f3ad23,computers,notebook,2019-10-15
4,491263,2019-10-01 14:35:13 UTC,view,1307179,2053013558920217191,computers.notebook,lenovo,720.71,550038326,dbd5bea4-58b9-4cb1-9b65-1d44c15419cc,computers,notebook,2019-10-01

# 想找出與某天的天數

In [ ]:
study_date = datetime.date(2019,11,1)   #設一個起始日

In [ ]:
import numpy as np
data['last_purchase'] = study_date - data['event_date']   #時間-時間=timedelta
data['last_purchase'].astype('timedelta64[D]')
data['last_purchase'] = data['last_purchase'] / np.timedelta64(1, 'D')

In [ ]:
data.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,category_lvl1,category_lvl2,event_date,last_purchase
0,12710949,2019-10-16 03:23:01 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,131.64,560678325,6679f202-7fd2-49b9-b42d-36b770c7ef14,electronics,smartphone,2019-10-16,16.0
1,21463275,2019-10-25 14:22:04 UTC,view,27000006,2053013564674802599,sport.trainer,housefit,254.83,516048955,82ca4e9e-dfda-4dcc-8ef8-d38cf5f6ead0,sport,trainer,2019-10-25,7.0
2,6762380,2019-10-09 11:42:19 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,460.62,512863381,b704b5fc-3fcd-41ad-b249-a74912444297,electronics,smartphone,2019-10-09,23.0
3,12325960,2019-10-15 14:41:35 UTC,view,1307350,2053013558920217191,computers.notebook,acer,489.05,541456824,3c3af379-e58c-46d1-98d3-dba766f3ad23,computers,notebook,2019-10-15,17.0
4,491263,2019-10-01 14:35:13 UTC,view,1307179,2053013558920217191,computers.notebook,lenovo,720.71,550038326,dbd5bea4-58b9-4cb1-9b65-1d44c15419cc,computers,notebook,2019-10-01,31.0

對日期進行特徵工程(取出當中重要的資訊 eg.星期幾、年、月、日...  這樣原本的datetime欄位就可以忽略了

In [ ]:
data['event_date'] = pd.to_datetime(data['event_date'])

In [ ]:
data['event_weekday'] = data['event_date'].apply(lambda s: s.weekday())

In [ ]:
data['event_year'] = data['event_date'].apply(lambda s: s.year)

In [ ]:
data['event_month'] = data['event_date'].apply(lambda s: s.month)

In [ ]:
data['event_day'] = data['event_date'].apply(lambda s: s.day)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          266 non-null    int64
 1   event_time     266 non-null    object
 2   event_type     266 non-null    object
 3   product_id     266 non-null    int64
 4   category_id    266 non-null    int64
 5   category_code  266 non-null    object
 6   brand          266 non-null    object
 7   price          266 non-null    float64
 8   user_id        266 non-null    int64
 9   user_session   266 non-null    object
 10  category_lvl1  266 non-null    object
 11  category_lvl2  266 non-null    object
 12  event_date     266 non-null    datetime64[ns]
 13  last_purchase  266 non-null    float64
 14  event_weekday  266 non-null    int64
 15  event_year     266 non-null    int64
 16  event_month    266 non-null    int64
 17  event_day      266 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(7)
memory usage: 37.5+ KB

In [ ]:
data

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,category_lvl1,category_lvl2,event_date,last_purchase,event_weekday,event_year,event_month,event_day
0,12710949,2019-10-16 03:23:01 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,131.64,560678325,6679f202-7fd2-49b9-b42d-36b770c7ef14,electronics,smartphone,2019-10-16,16.0,2,2019,10,16
1,21463275,2019-10-25 14:22:04 UTC,view,27000006,2053013564674802599,sport.trainer,housefit,254.83,516048955,82ca4e9e-dfda-4dcc-8ef8-d38cf5f6ead0,sport,trainer,2019-10-25,7.0,4,2019,10,25
2,6762380,2019-10-09 11:42:19 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,460.62,512863381,b704b5fc-3fcd-41ad-b249-a74912444297,electronics,smartphone,2019-10-09,23.0,2,2019,10,9
3,12325960,2019-10-15 14:41:35 UTC,view,1307350,2053013558920217191,computers.notebook,acer,489.05,541456824,3c3af379-e58c-46d1-98d3-dba766f3ad23,computers,notebook,2019-10-15,17.0,1,2019,10,15
4,491263,2019-10-01 14:35:13 UTC,view,1307179,2053013558920217191,computers.notebook,lenovo,720.71,550038326,dbd5bea4-58b9-4cb1-9b65-1d44c15419cc,computers,notebook,2019-10-01,31.0,1,2019,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,12675301,2019-10-16 02:01:30 UTC,purchase,3900815,2053013552326770905,appliances.environment.water_heater,ariston,126.77,560145399,5cd0565a-e8a0-4576-90f7-2d7a37a5b9b9,appliances,environment,2019-10-16,16.0,2,2019,10,16
262,11523678,2019-10-14 17:39:51 UTC,view,28715570,2053013565362668491,apparel.shoes.keds,adidas,71.56,518671442,27974a21-6da6-4b92-a75f-368518339e90,apparel,shoes,2019-10-14,18.0,0,2019,10,14
263,2667183,2019-10-04 10:56:14 UTC,view,1005121,2053013555631882655,electronics.smartphone,apple,975.57,546655461,6f431767-ce0d-477a-9c2b-613ea2ba6da7,electronics,smartphone,2019-10-04,28.0,4,2019,10,4
264,8461543,2019-10-11 13:21:18 UTC,view,1004873,2053013555631882655,electronics.smartphone,samsung,378.83,520721861,6bba1694-cade-4002-b08c-41ef8a443679,electronics,smartphone,2019-10-11,21.0,4,2019,10,11
265,5911429,2019-10-08 10:10:00 UTC,view,1002528,2053013555631882655,electronics.smartphone,apple,591.78,558019487,fa2b204c-89c2-4f52-a27d-1064126901fc,electronics,smartphone,2019-10-08,24.0,1,2019,10,8